{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{% block content %}

<div id="robot" onclick="document.location.href='/';"><div class="speech_bubble"><h2>Feeble Human is Confused?<h2></div></div>

<h3 style="clear:both;">&nbsp;</h3>

<p>Thanks for your interest in GetLostBot. If you have questions about the service in general, and how it works, please <a href="/about">read the about page</a></p>
<p>If you are having issues with GetLostBot, you are in the right place. Firstly, if you have any queries, bugs or worries, please feel free to contact me (Ben) directly either <a href="https://twitter.com/#!/benki">on Twitter (@benki)</a>, or <a href="mailto:ben@kirman.org">via email</a>. Really, I'm happy to help. Don't be shy.</p>
<p>I've answered some common questions or issues below</p>

<h3>I signed up, but have never received a challenge!</h3>
<p>Well congratulations, you are obviously exploring plenty of new places! GetLostBot will only ever contact you when you fall into a routine. As such, it is a very passive service.</p>
<p>If you want to force GetLostBot to give you more challenges, you can change your <i>bravery</i> level to be higher. The bravery slider can be found on <a href="/profile">your profile page</a>.</p>

<h3>GetLostBot is spamming me!</h3>
<p>Oops, sorry about that. Every time you check into a new place a challenge may be generated, especially if you tend to go to the same places regularly.</p>
<p>To reduce the amount of challenges you get, try reducing your <i>bravery</i>. The bravery slider can be found on <a href="/profile">your profile page</a>.</p>

<h3>How do I unsubscribe from GetLostBot?</h3>
<p>GetLostBot is a Foursquare application. To permanently unsubscribe (and remove permissions), go to <a href="https://foursquare.com/settings/connections">the Foursquare settings page</a> and remove GetLostBot.</p>
<p>If you want to temporarily disable GetLostBot, you can do that from <a href="/profile">your profile page</a>, however note that GetLostBot will still retain Foursquare permissions in this case.

<h3>How does GetLostBot choose challenge destinations?</h3>
<p>It uses a clever AI algorithm! The way GetLostBot chooses destinations is purposefully mysterious, you shouldn't spoil it for yourself. If you are really desperate to know, you can <a href="https://twitter.com/#!/benki">bribe me</a> to tell you.</p>

<h3>If I follow the directions and check in, how do I know I'm at the right place?</h3>
<p>GetLostBot will send you a message when you "complete" a challenge, but this isn't the point. It is for you to decide what the right place is.</p>
<p>There are no special points or badges for following challenges, the point is the exploration and mystery is its own reward.</p>

<h3>What happens if I don't follow the directions?</h3>
<p>Nothing. GetLostBot doesn't actually require you go anywhere, but just provides nudges when you fall into a routine. If you are comfortable ignoring that fact, then that is your own issue.</p><p>There are many ways to introduce serendipity into your life, and GetLostBot just reminds you to do something about it.</p>

<p style="font-size:small;"><a href="/">Go back to the main page</a>.</p>
{% endblock %}
