{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block scripts %}
<script src="/static/js/prototype.js" type="text/javascript"></script> 
<script src="/static/js/scriptaculous.js" type="text/javascript"></script>
<script type="text/javascript"> 
    $('contentWrapper').appear();    
    function displayTicker(response){
        var checkinsJson = eval(response);
        for(i=0; i<checkinsJson.length; i++)
        {
            var text = "<div id='tick" + i + "' style='display:none;'><div class='ticker'><a href='https://foursquare.com/user/"+checkinsJson[i]['u_id']+"'>"+checkinsJson[i]['u_name']+"</a> has just been challenged to try somewhere different than <a href='https://foursquare.com/venue/"+checkinsJson[i]['v_id']+"'>"+checkinsJson[i]['v_name']+"</a></div></div>";
            document.getElementById("ticker").innerHTML += text;
        }
        
        tick(checkinsJson.length, checkinsJson.length - 1);
    }
 
    function tick(length, current){
        if(current >= 0)        {
            Effect.SlideDown("tick" + (current));
            if((length - current) > 2)
            {
                Effect.Fade("tick" + (current + 2));
            }
            window.setTimeout("tick(" + length + "," + (current - 1) + ")", 4000);
        }
        else
        {
            window.setTimeout("tickClear(" + length + ",4)", 10);
        }
    }
    
    function tickClear(length, current){
        if(current < 0)        {            window.setTimeout("tick(" + length + "," + (length - 1) + ")", 4000);
        }
        else        {
            Effect.Fade("tick" + current);            window.setTimeout("tickClear(" + length + "," + (current -1) + ")", 4000);        }
    }    
 
    function getTicker(){
        if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }
        else{// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200){
                displayTicker(xmlhttp.responseText);
            }
        }
 
        xmlhttp.open("GET","/ticker",true);
        xmlhttp.send();
    }
</script>

{% endblock %}
{% block onload %}getTicker();{% endblock%}
{% block content %}

<div id="robot"><div class="speech_bubble"><h2>Greetings, Human. I'm GetLostBot!<h2><p>I'm a free service that challenges you to break your routine and explore new places.</p></div></div>
<div style="height:120px;padding-top:40px;clear:both;">
  <div id="ticker">
  </div>
</div>



<p style="clear:both;">Once you sign up, GetLostBot will quietly keep an eye on the places you visit. If it feels that you are going to the same places too often, it will send you a challenge.</p>
<p>When this happens, you will receive a message with some mysterious walking directions. Follow these to discover a place nearby that you have never been to before!</p>
<p>Who knows, maybe you will find your new favourite place! After all, if we never venture into the unknown, how do we get anywhere new?</p>


<p>To start receiving challenges, you need to be a Foursquare user and authorise GetLostBot by clicking the link below.</p>

<a href="{{foursquare_uri}}"><img src="/static/images/connect-foursquare.png" alt="Connect to Foursquare" border="0" /></a></p>

{% if session %}
<p>You seem to have already authorised GetLostBot. You can change your settings or unsubscribe by <a href="/profile">visiting your profile page</a>.</p>
{% endif %}

<p>Want to <a href="/about">learn more about this project</a>?</p>
<p>Have a question? There is a <a href="/faq">new FAQ that might help</a>.</p>
<div style="height:20px;width:600px;">
        <div style="float:left;"><a href="http://twitter.com/share"
        class="twitter-share-button" data-url="http://www.getlostbot.com"
        data-text="Check out GetLostBot - when you get into a rut, it challenges you with maps to new places!" data-count="horizontal"
        data-via="benki">Tweet</a><script type="text/javascript"
        src="http://platform.twitter.com/widgets.js"></script></div>
        <div style="float:left;">
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.getlostbot.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=35&amp" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
        </div>
        <div style="float:left;"><g:plusone size="medium" annotation="inline" width="200"></g:plusone></div>
        <script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
   </div>
{% endblock %}
