<html>
<head>
<link rel="stylesheet" href="/static/screen.css" type="text/css" media="screen" />
</head>
<body>

<div class="wrap">

<div id="header">
				<h1 style="font-family:sans-serif;color:white;">GetLost</h1>
				<p id="subtitle"><strong>Be dared to venture into the unknown...</strong></p>
						
			</div><div style="padding:100px; ">


<p style="color:white;">Sign up in one easy step! Simply choose your bravery (this will affect the frequency of challenges, and types of locations) and authorise with foursquare by clicking the link.</p>
<p style="color:white;">Then, GetLost will monitor your foursquare activity automatically, and notify you directly when you need to get lost...</p>
<p>How brave are you? <input type="range" min="0" max="50" value="25" style="height:20px;width:200px;" /></p>
<a href="{{foursquare_uri}}" style="color:#5555cc;">Authorise GetLost with Foursquare to get started</a></p>
</div>
</div>
</body>
</html>
